<div class="container m-5">
  <div class="row">
    <div class="col-6"></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<p class="text-center">
  <font size="4">ようこそ!  インベスター.comへ</font>
</p>

  <div class="field">
    <font size="2"><%= f.label :'ニックネームを入力してください' %></font><br>
    <%= f.text_field :nickname, :size=>"30", autofocus: true, :placeholder => "investerさん" %>
  </div>

  <div class="field">
    <font size="2"><%= f.label :'メールアドレスを入力してください' %></font><br />
    <%= f.email_field :email, :size=>"30", autofocus: true, autocomplete: "email", :placeholder => "email@invester.com" %>
  </div>

  <div class="field">
    <font size="2"><%= f.label :'パスワードを入力してください' %></font><br/>
    <%= f.password_field :password, :size=>"30",  autocomplete: "new-password", :placeholder => "6文字以上の半角英数字" %>
  </div>

  <div class="field">
    <font size="2"><%= f.label :'確認用パスワードを入力してください' %></font><br />
    <%= f.password_field :password_confirmation, :size=>"30", autocomplete: "new-password", :placeholder => "上記のパスワードを再度入力"  %>
  </div>
<br>

  <div class="actions text-center ">
   <%= f.submit "       登録する      ", class:'btn btn-primary'%>
  </div>

<% end %>

<%= render "devise/shared/links" %>

  </div>
</div>
